/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
      
font-family: 'Poppins', sans-serif;
background-color: #F3F1FF;
 }

main{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  

}

.container {

background-color: #FFFFFF;
padding: 30px;
width: 900px;
margin-top: 21px;
border-radius: 10px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}
.section-title{

color: #562EFF;
font-size: 24px;
   /* margin-left  */
   margin-top: 3px;
  

}



hr{
   border:  1px solid #D1D1D1 ;
   margin-bottom: 27px;
   
}

.top-players{

    margin-bottom: 30px;
    /* padding-bottom: 30px; */
}


.players{

    display: grid;
    grid-template-columns: repeat(3, 1fr);

   grid-row-gap: 30px;
   
   }

   .player{
       display: flex;
       justify-content: center;
       /* align-items: center; */
       width: 200px;
   }


   .player img{

   width: 56px;
   height: 56px;

   }

   .player-name{

margin-left: 16px;
font-weight: 500;
font-size: 18px;


   }

   /* ----------
   top blogs style 
   ---------*/


   .group-title{

    color: #562EFF;
   }


.blogs{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}



.blog{

    display: flex;
}

.blog-info{

    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}



.blog .thumbnail img{

width: 177px;
height: 117px;


   }
   .author-name {

 
    color: gray;
    font-size: 16px;
   }

   .author-name a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF ;
   }


   /* ----------
    Courses Style
    ------------- */

    .section-title
{

color: #562EFF;


}

 .courses {

 display: grid;
 grid-template-columns: repeat(3, 1fr);
 /* grid-gap-: 10px; */
 grid-column-gap: 24px;
 overflow: hidden;

 }



.course { 
    width: 275px;
   

border-radius: 10px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



 .courses .course .course-banner img {
/* padding-left: 10px; */
margin-left: 20px;
    width: 250px;
    height: 152px;


 }
 .course-info {

    margin-left: 10px;
 }
 
 .course-detail{

 display: flex;
 /* justify-content: center; */
 align-items: center;
 justify-content:space-evenly;
 


 }

/* .course-star{
margin-right: 10px;

} */

 .course-star .fas{

    color: yellow;
 }
 
 .course-star .far {

    color: silver;
  
 }

 /* .course-rating{

    margin-right: 10px;
 } */

 .course-duration {


background-color: #FF4A60;
font-size: 17px;
font-family: sans-serif;
line-height: 21px;
border-radius: 09px;

 }


 /* ----------Media Query Starts Here 
 -------------------------------------- */
    

/* For Mobile Phone  */


@media only screen and ( max-width:700px ){

    .container{
width: 100%;

    }
.players, .blogs, .courses{

    grid-template-columns: repeat(1, 1fr);
    
   

}

.player , .blog {

    flex-direction: column;
   
    /* align-items: center; */
}
   
}
   

/* For Tablet Devices */
   

@media  only screen and (min-width:701px) and (max-width: 990px) {
    

    .container{

        width: 100%;
    }
    .players,.blogs , .courses {

        grid-template-columns: repeat(2, 1fr);

    }










}